* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Brush Script MT', cursive;
    /* outline: 1px solid lime; */
}

body {
    background-color: blanchedalmond;
    z-index: -1;
}

.bg-world1 {
    background-image: url("https://images.pexels.com/photos/1612351/pexels-photo-1612351.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.bg-world2 {
    background-image: url("");
}

.bg-world3 {
    background-image: url("");
}

.bg-world4{
    background-image: url("");
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.card {
    background-color: white;
    border-radius: 1.5rem;
    width: 40rem;
    height: 40rem;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}

.history input {
    background-color: pink;
    font-size: 3rem;
    width: 100%;
}

input.off {
    background-color: #bebebe;
    pointer-events: none;
}

.board {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    ". a . b ."
    "c . . . d"
    ". . . . ."
    "e . . . f"
    ". g . h .";
}

.board .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90.5%, -50%);
    width: 25rem;
    height: 25rem;
    border: .4rem solid black;
    grid-area: M;
}

.line {
    position: absolute;
    border: .4rem solid black;
    background-color: blue;
    transform-origin: left top;
}

button.node {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: pink;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    grid-area: var(--grid-area);
    z-index: 1;
}

button.node:hover {
    background-color: #ffd7de;
}

button.node.used {
    background-color: lightgreen;
}

button.node.last-item {
    background-color: orange; !important
}

button#back {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: aquamarine;
    font-size: 2rem;
    font-weight: bold;
    padding: .6rem .8rem 0 .8rem;
    border-radius: 1rem;
    border: .2rem solid black;
}