* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Garamond', serif;
    letter-spacing: .1rem;
    /* outline: 2px solid lime; */
}

html {
    overflow: hidden;
}

.wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;
}

.circle {
    border-radius: 50%;
}

.circle::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: -1;
    filter: blur(5rem);
    opacity: 1;
}

.circle.circle1 {
    transform: translateX(0);
    width: 15rem;
    height: 15rem;
    animation: expand 2s ease-in-out forwards, changeColor 2s linear forwards;
}

.circle.circle1::before {
    animation: changeColor 2s linear forwards;
}

.circle.circle2 {
    position: absolute;
    transform: translateX(0);
    left: -240rem;
    top: -375rem;
    width: 330rem;
    height: 330rem;
    animation: expand 2.2s ease-in-out forwards;
    background-color: hsl(225, 50%, 60%)
}

.circle.circle2::before {
    background-color: hsl(225, 50%, 60%)
}

@keyframes expand {
    100% {
        width: 400rem;
        height: 400rem;
    }
}

@keyframes changeColor {
    0% {
        background-color: hsl(60, 100%, 50%); /* Yellow */
    }
    50% {
        background-color: hsl(30, 100%, 50%); /* Orange */
    }
    100% {
        background-color: hsl(0, 100%, 50%); /* Red */
    }
}

.new-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    color: black;
    border-radius: 1.5rem;
    width: 50rem;
    height: 40rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    opacity: 0;
    animation: fadeIn 1.4s linear forwards 1.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.login-container * {
    opacity: 0;
    animation: fadeIn 2s linear forwards calc(var(--order)*500ms);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.login-container h1 {
    text-align: center;
    font-size: 3rem;
}

.login-container .input-box {
    width: 30rem;
    border-radius: .5rem;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.2);
    padding: .4rem;
}

.login-container .input-box input {
    background-color: transparent;
    width: 100%;
    font-size: 2rem;
    outline: none;
}

.login-container button {
    z-index: 1;
    position: relative;
    color: white;
    padding: 1rem;
    width: 30rem;
    border-radius: 1rem;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    cursor: pointer;
    font-size: inherit;
}

.login-container button::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-25rem, 0, 0) rotate(35deg);
}

.login-container button:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translate3d(20rem, 0, 0) rotate(35deg);
}

.login-container .horizontal {
    display: flex;
    justify-content: space-between;
    width: 30rem;
}